name: smartproject
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  provider: ^6.1.2
  http: ^1.2.0
  google_generative_ai: ^0.4.7
  flutter_markdown: ^0.7.7+1
  pdf: ^3.11.3
  printing: ^5.14.2
  url_launcher: ^6.3.1  

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  # If you have assets (images/pdfs), they go below here:
  # assets:
  #   - assets/notes_database.json